@page

@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card z-depth-2">
                    <div class="card-content center">
                        <i class="material-icons large teal-text">mark_email_read</i>

                        <span class="card-title teal-text text-darken-2">
                            Check Your Email
                        </span>

                        <p class="grey-text">
                            If the email exists in our system, a password reset link has been sent.
                        </p>

                        <div style="margin-top: 25px;">
                            <a asp-page="./Login" class="btn waves-effect waves-light teal">
                                Back to Login
                                <i class="material-icons right">login</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>